@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  overflow: hidden;
  margin: 0;
}
#word {
  font-family: Megrim, cursive;
  font-size: 20vh;
  position: absolute;
  margin: 10;
  /*bottom: 0;*/
  color: #fc0;
  -webkit-text-stroke: 0.15vh #c0f;
}
